<configuration>
    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <property name="ENCODER_PATTERN"
              value="[%level] [%logger{0}:%line#%method] [%d{M.dd.yyyy hh:mm:ss.SSS}] [%thread] : %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="io.netty" level="debug"/>

</configuration>